<h2>{{ question }}</h2>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <button class="btn btn-success btn-lg btn-block" (click)="onYesClicked()" id="btnYes" [disabled]="disabled">Ja</button>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <button class="btn btn-danger btn-lg btn-block"(click)="onNoClicked()" id="btnNo" [disabled]="disabled">Nee</button>
      </div>
    </div>
  </div>
</div>
